{# This template represents a Dagster repository which contains all a job and schedule for each web source in our sitemap #}

from dagster import repository

{% for source in sources %}
from jobs.implnet_jobs_{{ source.name }} import implnet_job_{{ source.name }}
from sch.implnet_sch_{{ source.name }} import implnet_sch_{{ source.name }}
{% endfor %}

@repository
def gleaner():
    jobs = [{% for source in sources %}implnet_job_{{ source.name }}{% if not loop.last %}, {% endif %}{% endfor %}]
    schedules = [{% for source in sources %}implnet_sch_{{ source.name }}{% if not loop.last %}, {% endif %}{% endfor %}]

    return jobs + schedules
