
dagit>=1.4.2
dagster-postgres==0.20.2
dagster>=1.4.2
dagster-webserver>=1.4.2
dagster-docker
dagster-aws
ipython-genutils==0.2.0
advertools==0.13.2
minio==7.1.13
docker>=6.1.0

earthcube-utilities>=0.1.17


